Repository redhat-developer/quarkus-ls, pull requests merged in 2024-07, with the labels that each got.

#965 fix: allow spaces inside section branch.
  qute.jdt/com.redhat.qute.jdt/src/main/java/com/redhat/qute/jdt/template/datamodel/AbstractFieldDeclarationTypeReferenceDataModelProvider.java
  qute.ls/com.redhat.qute.ls/src/main/java/com/redhat/qute/parser/parameter/ParameterParser.java
  qute.ls/com.redhat.qute.ls/src/main/java/com/redhat/qute/parser/parameter/scanner/ParameterScanner.java
  qute.ls/com.redhat.qute.ls/src/test/java/com/redhat/qute/parser/parameter/scanner/ParameterScannerTest.java
  qute.ls/com.redhat.qute.ls/src/test/java/com/redhat/qute/services/completions/QuteCompletionInExpressionWithLetSectionTest.java
  qute.ls/com.redhat.qute.ls/src/test/java/com/redhat/qute/services/inlayhint/QuteInlayHintTest.java
Labels: qute

#964 fix: allow inject: with constructor class which have arguments
  qute.jdt/com.redhat.qute.jdt.test/projects/maven/quarkus3/src/main/java/org/acme/Bean3.java
  qute.jdt/com.redhat.qute.jdt.test/src/main/java/com/redhat/qute/jdt/utils/CDIUtilsTest.java
  qute.jdt/com.redhat.qute.jdt/src/main/java/com/redhat/qute/jdt/utils/CDIUtils.java
Labels: bug, quarkus-jdt-extension

#968 fix: separate user tag parameters inlay hint
  qute.ls/com.redhat.qute.ls/src/main/java/com/redhat/qute/services/inlayhint/InlayHintASTVistor.java
Labels: enhancement, inlay hint

#971 fix: added quarkus.hibernate-orm.database.generation 'validate' value
  quarkus.jdt.ext/com.redhat.microprofile.jdt.quarkus/static-properties/quarkus-hibernate-orm-metadata.json
Labels: properties
